<!DOCTYPE html>
<html>
<head>
  <title>Angular with PHP(CRUD)</title>

  <script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>

  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.6.4/angular-datatables.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">

</head>
<body ng-app="crudApp" ng-controller="crudController">

  <div class="container" ng-init="fetchData()">
    <br>
      <h3 align="center">AngularJS PHP(CRUD)</h3>
    <br>

    <div class="alert alert-success alert-dismissible" ng-show="success">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
      {{ successMessage }}
    </div>

    <div align="right">
      <button type="button" name="add_button" ng-click="addData()" class="btn btn-success">Add</button> 
    </div>
    <br>
    <div class="table-responsive" style="overflow-x: unset;">
      <table datatable="ng" dt-options="vm.dtOptions" class="table table-bordered table-striped">
        <thead>
           <tr>
             <th>First Name</th>
             <th>Last Name</th>
             <th>Edit</th>
             <th>Delete</th>
           </tr>
         </thead> 
         <tbody>
           <tr ng-repeat="name in namesData">
             <td>{{ name.first_name }}</td>
             <td>{{ name.last_name }}</td>
             <td><button type="button" ng-click="fetchSingleData(name.id)" class="btn btn-warning btn-xs">Edit</button></td>
             <td><button type="button" ng-click="deleteData(name.id)" class="btn btn-danger btn-xs">Delete</button></td>
           </tr>
         </tbody>
      </table>
    </div>

    <!-- START MODAL -->
    <div class="modal fade" tabindex="-1" role="dialog" id="crudmodal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <form method="post" ng-submit="submitForm()">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{ modalTitle }}</h4>
            </div>

            <div class="modal-body">
              <div class="alert alert-danger alert-dismissible" ng-show="error">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ errorMessage }}
              </div> 
              <div class="form-group">
                <label>Enter First Name</label>
                <input type="text" name="first_name" ng-model="first_name" class="form-control" /> 
              </div>
              <div class="form-group">
                <label>Enter Last Name</label>
                <input type="text" name="last_name" ng-model="last_name" class="form-control" /> 
              </div>
            </div>

            <div class="modal-footer">
              <input type="hidden" name="hidden_id" value="{{ hidden_id }}" />
              <input type="submit" name="submit" id="submit" class="btn btn-info" value="{{ submit_button }}" />
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>   
            </div> 
          </form> 

        </div> 
      </div>
    </div> <!-- END MODAL -->

  </div> <!-- END CONTAINER -->

<script>
  
  var app = angular.module('crudApp', ['datatables']);
  app.controller('crudController', function($scope, $http){

    $scope.success = false;
    $scope.error = false;

    $scope.fetchData = function(){
      $http.get('fetch_data.php').success(function(data){

       $scope.namesData = data;
      });
    };

    $scope.openModal = function(){
      var modal_popup = angular.element('#crudmodal');
      modal_popup.modal('show');
    };

    $scope.closeModal = function(){
      var modal_popup = angular.element('#crudmodal');
      modal_popup.modal('hide');
    };

    $scope.addData = function(){
      $scope.modalTitle = 'Add Data';
      $scope.submit_button = 'Insert';
      $scope.openModal();
    };

    $scope.submitForm = function(){
      $http({
         method:"POST",
         url:"insert.php",
         data:{'first_name':$scope.first_name, 'last_name':$scope.last_name, 'action':$scope.submit_button, 'id':$scope.hidden_id}
        }).success(function(data){
        if(data.error != ''){
          console.log('error');
          $scope.success = false;
          $scope.error = true;
          $scope.errorMessage = data.error;
        }else{
          console.log('not error');
          $scope.success = true;
          $scope.error = false;
          $scope.successMessage = data.message;
          $scope.form_data = {};
          $scope.closeModal();
          $scope.fetchData();
        }
      });
    };

    $scope.fetchSingleData = function(id){
      $http({
        method:"POST",
        url:"insert.php",
        data:{'id':id, 'action':'fetch_single_data'}
      }).success(function(data){
        $scope.first_name = data.first_name;
        $scope.last_name = data.last_name;
        $scope.hidden_id = id;
        $scope.modalTitle = 'Edit Data';
        $scope.submit_button = 'Edit';
        $scope.openModal();
      });
    };

    $scope.deleteData = function(id){
      if(confirm("Are you sure you want to remove it?")){
        $http({
          method:"POST",
          url:"insert.php",
          data:{'id':id, 'action':'Delete'}
        }).success(function(data){
          $scope.success = true;
          $scope.error = false;
          $scope.successMessage = data.message;
          $scope.fetchData();
        });
      }
    };

  });
  
  ///////////////////// angular 1.6+ //////////////////////////
  // var app = angular.module('crudApp', ['datatables']);
  // app.controller('crudController', function($scope, $http){
  //   $scope.fetchData = function(){
  //   $http({
  //     method: 'GET',
  //     url : 'fetch_data.php'  
  //   }).then(function(data){
  //     console.log(data);
  //     //$scope.namesData = data;
  //   });
  //  };
  // });
  ///////////////////// angular 1.6+ //////////////////////////

</script>

</body>
</html>
